# Bold text
snippet b "Bold"
\textbf{${1:${VISUAL}}} $0
endsnippet

# Italic text
snippet i "Italics"
\textit{${1:${VISUAL}}} $0
endsnippet


snippet bi "Bold Italics"
\textbf{\textit{${1:${VISUAL}}}}$0
endsnippet

# Underlined text
snippet u "Underline"
\underline{${1:${VISUAL}}} $0
endsnippet


# citations
snippet cite "cite"
\textcite{${1:${VISUAL}}} $0
endsnippet

snippet pcite "parencite"
\parencite{${1:${VISUAL}}} $0
endsnippet
